
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color:grey;
        color: antiquewhite;
        font-size: 17px;
    background:url(schoolbackground.jpg) repeat center;
       height: 100%; 
       position:absolute;
        

    }

    h1 {
        text-align: center;
        border-width: 10px !important;
        border-style: outset !important;
        border-color:darkgray !important;
        background-color: aqua;
        color: black;
        padding: 20px;
        margin: 20px 400px 20px 400px;
        box-shadow: 5px 5px 5px black;
        font-weight: bold;
        text-shadow: 5px 5px 12px black,5px 5px 12px palegreen;
     
    }
    h2 {
        text-align: center;
        font-size: 22px;
        box-shadow: 5px 5px 5px pink;
        margin-right: 1200px;
        background-color: rgb(247, 201, 74);
        color: black;
        font-weight: bold;
        font-size: 22px;
        font-style: oblique;


    }
    a {
        text-decoration: none;
        color:rgb(202, 10, 10);
        font-size:17px;
    }
  nav {
    height: 50px;
    width:100%;
    background-color: rgb(102, 100, 233);
    color: rgb(0, 0, 0);
  }
  nav ul {

    margin: 10px;;
    padding:0;
  }
    nav li {
        display:inline;
        float: left;
    }
    nav a {
        display: inline-block;
        width:100px;
        text-align: center;
        text-decoration: none;
        padding:10px 15px;
        color:rgb(10, 10, 10);
        font-weight: bold;

    }
    nav li:hover{
        background-color: rgb(113, 183, 245);
    }
    footer {
        text-align: center;
        font-size:5px;
    background-color: rgb(255, 50, 50);
    padding: 0.5rem;
     }
    footer p a {
        color: black;
    
    }
     fieldset p {
       text-align:center; 
        border: 20px;
        border-color: rgb(69, 255, 255);
    }
    
        

     table, tr, td, th, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5em;
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(65, 154, 182) ;
    font-weight: bold;
   border-radius: 10px;
}
#p1 {
   color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
   background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
   font-weight: bold;
   border-radius: 10px;
}


#p3 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
   color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;

}
#p4 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p5 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p6 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p7 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p8 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p9 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p10 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p11 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p12 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p13 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p14 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p15 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p16 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
#p18 {
     background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
   background-attachment: fixed;
    color: rgb(2, 0, 7);
   font-size: 17px;
   padding: 10px;
   border: solid 5px rgb(241, 239, 241) ;
    font-weight: bold;
   border-radius: 10px;
}
div {
    text-align:start;
    background:linear-gradient(to top ,rgb(152, 214, 52), rgb(255, 18, 176));
    color: black;
    font-size: larger;
    font-weight: bold;
    border:solid 5px  #eee; 
    border-radius: 5px;
    padding: 5px;

    
}
form {
    background:linear-gradient(to left ,pink,orange);
    color: black;
    font-size: larger;
    font-weight: bold;
    border:solid 5px  #eee; 
    border-radius: 5px;
    padding: 5px;
    text-align: center;
   
}
figcaption {
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 12px;
}
   

   
